<!DOCTYPE html>
<html>
<head>
    <title>The Angle Bracket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
</head>

<body>    
    <section>
        <h1 id="title">The <b>Angle</b> Bracket</h1>

        <div>
            <p>The Angle Bracket was a tournament of HTML tags, conducted via 57 Twitter polls in 7 rounds, conducted over a week. Apart from the final, each round consisted of games of 4 tags (because Twitter polls can only have 4 options) in which the first and second place finishers made it to the next round.</p>
    
            <p>In a proper bracket competition everybody is seeded evenly across the competition by how likely they are to win, and you can draw a cute little tree structure as players are eliminated. Unfortunately I didn't think of this in advance, and also I had no idea which tags would or wouldn't be popular, so every round I randomized the winners of the previous round into new games. So you can't draw a tree. I'm sorry. Next time.</p>
    
            <p>Scroll down to read the story of the tournament as it unfolded. You can click or tap any game to see the exact scores.</p>
        </div>
    
        <div class="tournament-round">
            <h2><a href="https://twitter.com/seldo/status/1459959521896382466" target="_blank">Round 1</a></h2>

            <p>This was the wild west round; every tag from the <a href="https://html.spec.whatwg.org/">HTML 5 spec</a> (uhhhh except <code>caption</code> because I accidentally left it out).</p>

            <%- include('_includes/round', {scores: scores, round: 1, size: 'small'}); %>
        </div>        

        <hr>

        <div class="commentary">
            <h2>Round 1 exits</h2>

            <p>As you'd expect from a completely randomized tag set, there were some real surprises in this round, but there are also a lot of tags of dubious value and they mostly exited in round 1.</p>

            <p>Click or tap any tag for details.</p>

            <h3>Block tags: 50% eliminated</h3>
            <p>Some old favorites drew tough games and were eliminated early; <code>dt</code> was robbed, robbed I say.</p>
            <ul>
                <li>
                    <details>
                        <summary><code>dt</code> & <code>dd</code></summary>
                        <p>Originally Definition List, <code>dl</code> is now technically a <dfn>Description List</dfn>. But what it really is is a key-value map in HTML! It's cruelly under-used and I'm sad to see it go.</p>
                    </details>
                </li>
                <li>
                    <details>
                        <summary><code>figure</code> and <code>figcaption</code></summary>
                        <p>Used to show some vaguely-defined content that might need a caption to explain what it is. Very niche. Nobody's sad about these.</p>
                    </details>
                </li>
                <li>
                    <details>
                        <summary><code>hr</code></summary>
                        <p>Originally meant Horizontal Rule, but since that's not even slightly semantic it now means <dfn>thematic break</dfn> which is a phrase that I suppose has an h and an r in it somewhere.</p>
                    </details>
                </li>
            </ul>
        </div>

        <hr>

        <div class="tournament-round">
            <h2><a href="https://twitter.com/seldo/status/1460345542580400131">Round 2</a></h2>

            <%- include('_includes/round', {scores: scores, round: 2, size: 'small'}); %>
        </div>

        <hr>

        <div class="commentary">
            <h2>Round 2 exits</h2>
        </div>

        <hr>

        <div class="tournament-round">
            <h2><a href="https://twitter.com/seldo/status/1460708012482465792">Round 3</a></h2>

            <%- include('_includes/round', {scores: scores, round: 3, size: 'small'}); %>
        </div>
        
        <hr>

        <div class="commentary">
            <h2>Round 3 exits</h2>
        </div>

        <hr>

        <div class="tournament-round">
            <h2><a href="https://twitter.com/seldo/status/1461066159613042688">Round 4</a></h2>

            <%- include('_includes/round', {scores: scores, round: 4, size: 'big'}); %>
        </div>
        
        <hr>

        <div class="commentary">
            <h2>Round 4 exits</h2>
        </div>

        <hr>
        
        <div class="tournament-round">
            <h2><a href="https://twitter.com/seldo/status/1461428057550430214">Round 5</a></h2>

            <%- include('_includes/round', {scores: scores, round: 5, size: 'big'}); %>
        </div>
        
        <hr>

        <div class="commentary">
            <h2>Round 5 exits</h2>
        </div>

        <hr>

        <div class="tournament-round">
            <h2><a href="https://twitter.com/seldo/status/1461787400070438914">Final 4</a></h2>

            <dl class="match final4">
                <dd class="first">
                    <code>a</code>
                    <data>41.1%</data>
                </dd>
                <dd class="second">
                    <code>marquee</code>
                    <data>26.1%</data>
                </dd>
                <dd class="third">
                    <code>div</code>
                    <data>19.6%</data>
                </dd>
                <dd class="fourth">
                    <code>script</code>
                    <data>13.2%</data>
                </dd>
            </dl>
        </div>
        
        <hr>

        <div class="commentary">
            <h2>Final 4 exits</h2>
        </div>

        <hr>

        <div class="tournament-round">
            <h2><a href="https://twitter.com/seldo/status/1462149025633746951">Championship</a></h2>

            <dl class="match championship">
                <dd class="first">
                    <code>a</code>
                    <data>71.3%</data>
                </dd>
                <dd class="second">
                    <code>marquee</code>
                    <data>28.7%</data>
                </dd>
            </dl>
        </div>
        
        <hr>

        <div class="commentary">
            <h2>Championship exit</h2>
        </div>

    </section>
        
</body>
</html>
